<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Have A New Message From <%= @sender.email %></h1>
    <h2>To view click here: <%= @url %></h2>
  </body>
</html>