<h1>TrainerProfiles#edit</h1>
<p>Find me in app/views/trainer_profiles/edit.html.erb</p>
<%= render "form", form_method: :patch, url: "/trainer_profiles/#{@trainer.id}", heading: "Lets get some trainer information", submit_message: "Submit" %>