<h1>TrainerProfiles#index</h1>
<p>Find me in app/views/trainer_profiles/index.html.erb</p>
<% @trainers.each do |trainer| %>
  <h2><a href="/trainer_profiles/<%= trainer.id %>"><%= trainer.trainer_profile.name %></a></h2>
<% end %>
