<h1>UserProfiles#edit</h1>
<p>Find me in app/views/user_profiles/edit.html.erb</p>
<%= render "form", form_method: :patch, url: "/user_profiles/#{@user.id}", heading: "Lets get some information", submit_message: "Submit" %>