<div id="index-pp-app">
  <div class="container">
    <div class="row">
      <div class="program-cart text-center" data-spy="affix" data-offset-top="55">
        <h1>
          <span v-if="programPreps.length == 1">{{ programPreps.length }} Exercise</span>
          <span v-if="programPreps.length > 1">{{ programPreps.length }} Exercises</span>
        </h1>
        <h2>
          <button class="btn btn-cocktail btn-lg" v-on:click="createProgram()">Send program to <%= @user.user_profile.name %></button>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="header-tag text-center">
          <h4>Exercises in current program for <%= @user.user_profile.name %></h4>
        </div>
        <div class="" v-for="exercise in programPreps" v-bind:key="exercise.id">
          <div class="col-md-6 col-lg-6 col-sm-6">
             <div class="panel panel-hearts">
               <div class="panel-heading clearfix text-center">
                <div class="panel-caption">
                   <h4>{{ exercise.name }}</h4>
                </div>
               </div>
               <div class="panel-body">
                  <div class="slimScroller" style="height:450px; position: relative; overflow-y: scroll;" data-rail-visible="1" data-always-visible="1">
                    <p>Muscle: {{ exercise.muscle }}</p>
                    <div class="panel-exercise-image text-center">
                      <img class="img-responsive" :src="exercise.images[0].url" alt="">
                      <p>Trainer Note: {{ exercise.note }}</p>
                      <hr>
                    </div>
                    <div class="btn-group btn-group-justified">
                      <a class="btn btn-meadow" v-on:click="toggleNote(exercise)">Update Note</a>
                      <!-- <a class="btn btn-meadow" v-on:click="toggleNote(exercise)" v-else>Change Note</a> -->
                      <a class="btn btn-cocktail" v-on:click="toggleUpdate(exercise)">Change Quantity</a>
                    </div>   
                    <div class="shown-info text-center" v-if="exercise.infoVisible">
                      <p><input v-model="newNote">    <button class="btn btn-lg btn-cocktail" v-on:click="updateNote(exercise)"><i  class="fa fa-fighter-jet fa-3"></i></button></p>
                    </div>
                    <div class="shown-info text-center" v-if="exercise.updateVisible">
                      <!-- <p>Quantity: {{ exercise.quantity }}</p> -->
                      <p><input v-model="newQuantity" v-bind:placeholder="exercise.quantity">    <button class="btn btn-lg btn-cocktail" v-on:click="updateQuantity(exercise)"><i  class="fa fa-fighter-jet fa-3"></i></button></p>
                    </div>
                  </div>
               </div>
               <!-- UNCOMMENT FOR PROGRAM PREP ADD -->
             <div class="panel-footer pp-panel-footer text-center" v-on:click="removeExercise(exercise)">
                <span><i class="fa fa-trash fa-6"></i></span>
             </div>
             </div>
          </div>
        </div>
        <!--END V-FOR-->
      </div>
    </div>
  </div>
</div>
