<h1>The index page for program prep</h1>
<p>The program prep page for: <%= @client.user_profile.name %></p>
<p><%= @client.user_profile.name %> has <%= @client.trainer.trainer_profile.name %> as their trainer.</p>
