<div id="new-pp-app">
   <div class="container">
   <div class="row">
      <div class="program-cart text-center" data-spy="affix" data-offset-top="55">
        <h1>
          <span v-if="programPrepIDs.length < 1">Add an exercise to get started</span>
          <span v-if="programPrepIDs.length == 1">{{ programPrepIDs.length }} Exercise</span>
          <span v-if="programPrepIDs.length > 1">{{ programPrepIDs.length }} Exercises</span>
          <button v-if="programPrepIDs.length >= 1" class="btn btn-lg btn-berry" v-on:click="viewProgram()"><i class="fa fa-space-shuttle fa-3"></i> View Program</button>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="btn btn-group-justified">
          <a class="btn btn-cocktail" v-on:click="setFilter('')">All Exercises <i class="fa fa-globe fa-6"></i></a>
          <a v-on:click="clearProgramPrepIDs()" class="btn btn-danger">Remove All Exercises <i class="fa fa-exclamation-triangle"></i></a>
        </h1>
        <div class="images">
          <div class="muscle-img pull-left" v-on:click="setFilter('abs')" v-bind:class="{active: this.searchFilter == 'abs'}">
            <img class="img-rounded img-responsive" src="https://lh3.googleusercontent.com/XOizDmzHcO36GYA87QYfqsRmeTrSmijvaLu2zOiuQcYQdOYI0tpkECqGIvaZFjMy-Q=w170" alt="Abdominals">
          </div>
          <div class="muscle-img pull-left" v-on:click="setFilter('back')" v-bind:class="{active: this.searchFilter == 'back'}">
            <img class="img-rounded img-responsive" src="http://images.shape.mdpcdn.com/sites/shape.com/files/styles/facebook_og_image/public/story/woman-with-straight-spine_0.jpg" alt="Back">
          </div>
          <div class="muscle-img pull-left" v-on:click="setFilter('biceps')" v-bind:class="{active: this.searchFilter == 'biceps'}">
            <img class="img-rounded img-responsive" src="https://image.spreadshirtmedia.net/image-server/v1/compositions/127142292/views/1,width=300,height=300,appearanceId=1,backgroundColor=E8E8E8,version=1439812226/i-love-my-biceps-t-shirts-men-s-slim-fit-t-shirt.jpg" alt="Biceps">
          </div>            
          <div class="muscle-img pull-left" v-on:click="setFilter('chest')" v-bind:class="{active: this.searchFilter == 'chest'}">
            <img class="img-rounded img-responsive" src="http://images.clipartpanda.com/chest-clipart-body_chest.gif" alt="Chest">
          </div>
          <div class="muscle-img pull-left" v-on:click="setFilter('shoulders')" v-bind:class="{active: this.searchFilter == 'shoulders'}">
            <img class="img-rounded img-responsive" src="http://images.clipartpanda.com/shoulder-clipart-shoulders.gif" alt="Chest">
          </div>
          <div class="muscle-img pull-left" v-on:click="setFilter('triceps')" v-bind:class="{active: this.searchFilter == 'triceps'}">
            <img class="img-rounded img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Triceps_brachii.png" alt="Chest">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12"> 
        <transition-group name="slide-fade">
          <div class="col-md-6 col-lg-6 col-sm-6" v-for="exercise in exercises" v-if="isSetMuscle(exercise)" v-bind:key="exercise.id" v-bind:class="{ disabled: programPrepIDs.indexOf(exercise.id) !== -1 }">
             <div class="panel panel-hearts">
               <div class="panel-heading" v-on:click="setDescriptions(exercise)">
                 <h3>{{ exercise.name }}</h3>
               </div>
               <div class="panel-body">
                  <p>Muscle: {{ exercise.muscle }}</p>
                  <div class="panel-exercise-image text-center">
                    <img class="img-responsive" :src="exercise.images[0].url" alt="">
                    <hr>
                  </div>
                  <div class="shown-info" v-if="exercise.infoVisible">
                    <ol>
                      <li v-for="description in exercise.descriptions">{{ description.note }}</li>
                    </ol>
                    
                  </div>
               </div>
               <!-- UNCOMMENT FOR PROGRAM PREP ADD -->
               <div class="panel-footer pp-panel-footer text-center" v-on:click="toggleProgram(exercise)">
                 <span><i v-if="programPrepIDs.indexOf(exercise.id) === -1" class="fa fa-plus fa-3"></i></span>
                 <span><i v-if="programPrepIDs.indexOf(exercise.id) !== -1" class="fa fa-trash fa-3"></i></span>
               </div>
             </div>
          </div>
          <!--END V-FOR-->
        </transition-group>
      </div>
   </div>
 </div>
</div>