<div id="new-pp-app">
  <div class="container-fluid page-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <ul class="breadcrumb">
            <li class=""><a href="/"><em class="fa fa-home fa-lg"></em></a></li>
            <li><a href="/user_profiles/<%= @user.id %>"><%= @user.user_profile.name %></a></li>
            <li><a href="/user_profiles/<%= @user.id %>/programs">Programs</a></li>
            <li class="active">New</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- END BREADCRUMBS -->

 <div class="container">
   <div class="row">
      <div class="program-cart text-center" data-spy="affix" data-target=".top-buttons" data-offset-top="155">
        <h1>
          <span v-if="programPrepIDs.length < 1">Add an exercise to get started</span>
          <span v-if="programPrepIDs.length == 1">{{ programPrepIDs.length }} Exercise</span>
          <span v-if="programPrepIDs.length > 1">{{ programPrepIDs.length }} Exercises</span>
          <button v-if="programPrepIDs.length >= 1" class="btn btn-lg btn-berry" v-on:click="viewProgram()"><i class="fa fa-space-shuttle fa-3"></i> View Program</button>
        </h1>
      </div>
    </div>
  <section class="portfolio style2">
 <div class="container">
   <div class="row">
      <div class="col-md-12">
        <h4>Filter By Muscle: 
          <button v-on:click="setFilter('')" v-bind:class="{'activeexercise': this.searchFilter === ''}">All Exercises</button>
          <input v-model="searchFilter">
        </h4>
        <div class="images">
          <template v-for="muscle in muscles">
            <div class="muscle-img pull-left" v-on:click="setFilter(muscle.name)" v-bind:class="{activeexercise: this.searchFilter == muscle.name}">
              <img class="img-rounded img-responsive" :src="muscle.avatar" alt="">
            </div>
          </template>
        </div>
      </div>
      
      <transition-group name="slide-fade" mode="out-in">
        <div class="col-md-6 col-lg-6" v-for="exercise in exercises" v-if="isSetMuscle(exercise)" v-bind:key="exercise.id">
           <div class="panel panel-success">
             <div class="panel-heading" v-on:click="setDescriptions(exercise)">
               <a v-bind:href="'/exercises/' + exercise.id ">{{ exercise.name }}</a>
             </div>
             <div class="panel-body">
                <p>Muscle: {{ exercise.muscle }}</p>
                <div class="panel-exercise-image text-center">
                  <img class="img-responsive" :src="exercise.images[0].url" alt="">
                  <hr>
                </div>
                <div class="shown-info" v-if="exercise.infoVisible">
                  <ol>
                    <li v-for="description in exercise.descriptions">{{ description.note }}</li>
                  </ol>                  
                </div>
             </div>
             <div class="panel-footer pp-panel-footer text-center" v-on:click="toggleProgram(exercise)">
                <span><i v-if="programPrepIDs.indexOf(exercise.id) === -1" class="fa fa-plus fa-3"></i></span>
                 <span><i v-if="programPrepIDs.indexOf(exercise.id) !== -1" class="fa fa-trash fa-3"></i></span>
             </div>
           </div>
        </div>
        <!--END V-FOR-->
      </transition-group>
   </div>
  </section>
 </div>
</div>