// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Vue.js fade */
//Only uncomment below if you want to make the navbar fixed to the top
// body {
//   padding: 70px;
// }
.active-bc { 
  color: #fff;
  font-weight: bold;
}
.exercise-gif {
  
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

/* Vue.js slide-right */
.slide-right-enter-active {
  transition: all .3s ease;
}
.slide-right-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-right-enter, .slide-right-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* Vue.js slide-left */
.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
/* Vue.js slide-fade */
.slide-fade-enter-active {
  transition: all .9s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}


.activeexercise {
  border: 1px solid gold;
}

.muscle-img {
  width: 150px;
  height: 150px;
  margin: 15px;
}
.exercise-image {
  margin-top: 25px;
  max-width: 450px;
  max-height: 450px;
}
.program-cart {
  top: 95px;
  z-index: 100;
  border-radius: 5px;
  background-color: #eaecef;
  border: 1px solid #bd1550;
  padding: 20px;
}
.affix {
  opacity: .9;
}
// .program-cart + .col-md-12 {
//   padding-top: 55px;
// }
.panel-exercise-image {
  width: 100%;
  overflow: hidden;
}
.pp-panel-footer:hover {
  background-color: rgba(169,21,80,.6);
  cursor: pointer;
}
.fa {
  cursor: pointer;
}
.shown-info {
  padding-top: 25px;
}
.disabled {
  opacity: .7;
  cursor: not-allowed;
}
.button-panel:hover {
  background-color: #abc013;
  border-color: #abc013;
  cursor: pointer;
}

.form-left {
  padding: 5px;
  box-shadow: 0px 0px 5px 5px #888888;
}
.icon-form {
  height: 100px;
  // width: 100px;
  text-align: center;
  border: 1px solid grey;
  span {
    display: inline-block;
    line-height: inherit;
    vertical-align: middle;
  }
}
.progress {
  margin-top: 10px;
}
.service {
  margin-bottom: 10px;
}